body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  padding: 20px
}

.img-element {
  margin: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 5px;
  border-color: #ccc;
}

.img-element:hover {
  cursor: zoom-in;
}

.img-title {
  margin-left: 10px;
}

.cancel-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  float: right;
}

.save-btn {
  margin: 20px;
  float: right;
}

.img-modal img{
  margin-left: auto;
  margin-right: auto;
}

.jw-modal-body {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin-left: 100px;
  text-align: center;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.jw-modal-body > img {
    display: flex;
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: flex;
  margin: auto;
  position: absolute;
  top: 32%;
  left: 45%;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}