body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  padding: 20px
}

.img-element {
  margin: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 5px;
  border-color: #ccc;
}

.img-element:hover {
  cursor: zoom-in;
}

.img-title {
  margin-left: 10px;
}

.cancel-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  float: right;
}

.save-btn {
  margin: 20px;
  float: right;
}

.img-modal img{
  margin-left: auto;
  margin-right: auto;
}

.jw-modal-body {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin-left: 100px;
  text-align: center;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.jw-modal-body > img {
    display: flex;
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}
